html {
    
}

body {
	margin: 10px auto;
	#max-width: 60em;
	max-width: 120em;
	font-family: sans-serif;
    background-color: #0C322C;
	display: grid;
#	grid-template-columns: auto auto auto;
	grid-template-columns: auto auto;
}

header,
article,
aside,
nav,
footer {
	border-radius: 0 0.5em 0.5em;
	border: thin solid;
	padding: 10px;
	margin: 10px;
}

a {
    # color: #EFEFEF;
    color: #90EBCD;
}

th{
    color: #EFEFEF;
}

th[scope="row"] {
    color: #0C322C;
    text-align: left;
}

th[scope="col"] {
    color: #0C322C;
    text-align: right;
}

td {
    color: #0C322C;
    text-align: right;
}

header {
	background: #0C322C;
	border-color: #EFEFEF;
    color: #EFEFEF;
}

nav {
	background: #0C322C;
	border-color: #EFEFEF;
    color: #EFEFEF;
}

article {
	background: #90EBCD;
	border-color: #90EBCD;
    color: #0C322C;
}

article[scope="bad"] {
	background: #FE7C3F;
	border-color: #FE7C3F;
    color: #0C322C;
}

aside {
	background: #30BA78;
	border-color: #30BA78; 
    color: #0C322C;
}

footer {
	background: #0C322C;
	border-color: #EFEFEF;
	color: #EFEFEF;
}

